In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
import matplotlib.font_manager as fm
import re

# 맑은 고딕 폰트 설정
plt.rcParams['font.family'] = 'Malgun Gothic'
plt.rcParams['axes.unicode_minus'] = False  # 음수 기호가 깨지는 것을 방지

# 데이터 자치구별로 정리하기

In [4]:
# 자동차 등록 현황

df = pd.read_excel("자동차등록현황보고_자동차등록대수현황 시도별 (201101 ~ 202411).xlsx",
                  skiprows = 4, usecols = [0, 1, 2,22])
df

C:\Users\User\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

       월(Monthly)  시도명      시군구       총계.3
0      월(Monthly)  시도명      시군구          계
1         2017-01   서울        계  3,091,903
2         2017-01   서울      강남구    243,194
3         2017-01   서울      강동구    136,915
4         2017-01   서울      강북구     76,983
...           ...  ...      ...        ...
25519     2024-11   전북  전주시 덕진구    183,121
25520     2024-11   전북  전주시 완산구    161,746
25521     2024-11   전북      정읍시     61,367
25522     2024-11   전북      진안군     15,665
25523     2024-11   전북        계  1,002,336

[25524 rows x 4 columns]

In [6]:
df.columns = df.iloc[0]

# 0번째 행 삭제
df = df[2:].reset_index(drop=True)

# 서울로 지역 한정
df = df[df['시도명']=='서울']

# 연도와 월 분리
df[['년', '월']] = df['월(Monthly)'].str.split('-', expand=True)
df.drop(columns = ['월(Monthly)', '시도명'], inplace = True)

# 11월로 시기 고정
df = df[df['월'] == '11']

# 시별 총계값은 삭제
df = df[df['시군구'] != '계']

# 칼럼 정리
df.drop(columns = ['월'], inplace = True)
df.columns = ['시군구', '자동차등록수(대)', '년']

df

       시군구 자동차등록수(대)     년
2682   강남구   239,036  2017
2683   강동구   137,016  2017
2684   강북구    77,945  2017
2685   강서구   201,590  2017
2686   관악구   122,287  2017
...    ...       ...   ...
25270  용산구    73,224  2024
25271  은평구   134,044  2024
25272  종로구    50,150  2024
25273   중구    52,829  2024
25274  중랑구   116,203  2024

[200 rows x 3 columns]

In [7]:
df.to_csv('수정_서울시_자동차등록수(11월기준)(2017-2024).csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 200 entries, 2682 to 25274
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   시군구        200 non-null    object
 1   자동차등록수(대)  200 non-null    object
 2   년          200 non-null    object
dtypes: object(3)
memory usage: 6.2+ KB

In [11]:
# 전기차 데이터 (21년까지)

df= pd.read_excel("15~21년 행정동별 연료별 자동차 등록현황.xlsx",
                 header = 1, sheet_name= '시군구별 행정동별 용도별 차종별 연료별 건수')

df

,연월,사용본거지시군구,시군구코드,행정동사용본거지,행정동사용본거지코드,용도,차종종별,연료,건수
0,201512,서울특별시 종로구,11110,NaN,58000,자가용,화물,경유,1
1,201512,서울특별시 종로구,11110,NaN,60000,자가용,승용,휘발유,2
2,201512,서울특별시 종로구,11110,NaN,60000,자가용,화물,휘발유,1
3,201512,서울특별시 종로구,11110,NaN,61500,자가용,화물,휘발유,2
4,201512,서울특별시 종로구,11110,NaN,62000,자가용,화물,경유,1
...,...,...,...,...,...,...,...,...,...
101556,202112,서울특별시 강동구,11740,서울특별시 강동구 둔촌1동,1174069000,영업용,승합,엘피지,76
101557,202112,서울특별시 강동구,11740,서울특별시 강동구 둔촌1동,1174069000,영업용,화물,전기,1
101558,202112,서울특별시 강동구,11740,서울특별시 강동구 둔촌2동,1174070000,자가용,승용,경유,1894
101559,202112,서울특별시 강동구,11740,서울특별시 강동구 둔촌2동,1174070000,자가용,화물,기타연료,6
101560,202112,서울특별시 강동구,11740,서울특별시 강동구 둔촌2동,1174070000,자가용,특수,엘피지,2

In [12]:
# 주소 분리 및 필요 없는 컬럼 삭제
df[['시', '시군구']] = df['사용본거지시군구'].str.split(' ', expand=True)
df.drop(columns = ['사용본거지시군구', '시', '시군구코드', '용도', '차종종별'], inplace = True)

# 연도와 월 분리
df['년'] = df['연월'].astype(str).str[:4]  # 앞에서 4글자 추출
df['월'] = df['연월'].astype(str).str[4:6]

df.drop(columns = ['연월'], inplace = True)

# 전기차 한정
df = df[df['연료'] == '전기']

# 시군구별 년도별 전기차 등록 수 합하기
a = df.groupby(['시군구', '년'])['건수'].sum().reset_index()

# 컬럼명 정리
a.columns = ['시군구', '년', '전기차(대)']
a

     시군구     년  전기차(대)
0    강남구  2015     155
1    강남구  2016     218
2    강남구  2017    2385
3    강남구  2018    4262
4    강남구  2019    5756
..   ...   ...     ...
170  중랑구  2017      40
171  중랑구  2018     128
172  중랑구  2019     212
173  중랑구  2020     412
174  중랑구  2021     750

[175 rows x 3 columns]

In [13]:
# 전기차 데이터 (22년)

df_22 = pd.read_excel('22.12월 자치구별연료별차종별용도별.xls', skiprows = 7)
df_22

,시군구별,Unnamed: 1,Unnamed: 2,연료별,Unnamed: 4,Unnamed: 5,용도별,승 용,승 합,화 물,Unnamed: 10,Unnamed: 11,특 수,Unnamed: 13,Unnamed: 14,계
0,합 계,NaN,NaN,계,NaN,NaN,계,2763730,96085,322706,NaN,NaN,10830,NaN,NaN,3193351
1,종로구,NaN,NaN,CNG,NaN,NaN,비사업용,6,4,19,NaN,NaN,0,NaN,NaN,29
2,NaN,NaN,NaN,CNG,NaN,NaN,사업용,0,84,0,NaN,NaN,0,NaN,NaN,84
3,NaN,NaN,NaN,경유,NaN,NaN,비사업용,9852,2944,3564,NaN,NaN,142,NaN,NaN,16502
4,NaN,NaN,NaN,경유,NaN,NaN,사업용,147,157,761,NaN,NaN,74,NaN,NaN,1139
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
553,NaN,NaN,NaN,휘발유,NaN,NaN,비사업용,29332,18,106,NaN,NaN,0,NaN,NaN,29456
554,NaN,NaN,NaN,휘발유,NaN,NaN,사업용,81,0,0,NaN,NaN,0,NaN,NaN,81
555,NaN,NaN,NaN,휘발유(무연),NaN,NaN,비사업용,48462,16,29,NaN,NaN,0,NaN,NaN,48507
556,NaN,NaN,NaN,휘발유(무연),NaN,NaN,사업용,269,6,0,NaN,NaN,0,NaN,NaN,275
557,NaN,NaN,NaN,휘발유(유연),NaN,NaN,비사업용,49,0,0,NaN,NaN,0,NaN,NaN,49

In [14]:
# 시군구명 바로 위 값으로 na 대체하기
df_22['시군구별'] = df_22['시군구별'].fillna(method='ffill')

# 전기차만 저장
df_22 = df_22[df_22['연료별'] == '전기']


df_22 = df_22.groupby(['시군구별'])['계'].sum().reset_index()
df_22['년'] = 2022

df_22.columns = ['시군구', '전기차(대)', '년'] 
df_22

     시군구  전기차(대)     년
0    강남구   13924  2022
1    강동구    2250  2022
2    강북구     880  2022
3    강서구    2857  2022
4    관악구    1343  2022
5    광진구    1065  2022
6    구로구    5138  2022
7    금천구    1024  2022
8    노원구    1574  2022
9    도봉구    1106  2022
10  동대문구    1106  2022
11   동작구    1209  2022
12   마포구    1755  2022
13  서대문구    1197  2022
14   서초구    4779  2022
15   성동구    2261  2022
16   성북구    1488  2022
17   송파구    3254  2022
18   양천구    1731  2022
19  영등포구    2206  2022
20   용산구    1202  2022
21   은평구    1525  2022
22   종로구     834  2022
23    중구    2172  2022
24   중랑구    1447  2022

In [15]:
# 전기차 데이터 (23년)

df_23 = pd.read_excel('서울시 자치구별 연료별 차종별 용도별 등록현황(23년12월).xls', skiprows = 7)
df_23

,시군구별,Unnamed: 1,Unnamed: 2,연료별,Unnamed: 4,Unnamed: 5,용도별,승 용,승 합,화 물,Unnamed: 10,Unnamed: 11,특 수,Unnamed: 13,Unnamed: 14,계
0,합 계,NaN,NaN,계,NaN,NaN,계,2776116,91067,312590,NaN,NaN,11389,NaN,NaN,3191162
1,종로구,NaN,NaN,CNG,NaN,NaN,비사업용,6,4,16,NaN,NaN,0,NaN,NaN,26
2,NaN,NaN,NaN,CNG,NaN,NaN,사업용,0,80,0,NaN,NaN,0,NaN,NaN,80
3,NaN,NaN,NaN,경유,NaN,NaN,비사업용,9475,2766,3499,NaN,NaN,142,NaN,NaN,15882
4,NaN,NaN,NaN,경유,NaN,NaN,사업용,53,168,1212,NaN,NaN,94,NaN,NaN,1527
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
553,NaN,NaN,NaN,휘발유,NaN,NaN,비사업용,28381,17,111,NaN,NaN,0,NaN,NaN,28509
554,NaN,NaN,NaN,휘발유,NaN,NaN,사업용,79,0,0,NaN,NaN,0,NaN,NaN,79
555,NaN,NaN,NaN,휘발유(무연),NaN,NaN,비사업용,49678,18,30,NaN,NaN,0,NaN,NaN,49726
556,NaN,NaN,NaN,휘발유(무연),NaN,NaN,사업용,282,6,0,NaN,NaN,0,NaN,NaN,288
557,NaN,NaN,NaN,휘발유(유연),NaN,NaN,비사업용,55,0,0,NaN,NaN,0,NaN,NaN,55

In [16]:
# 시군구명 바로 위 값으로 na 대체하기
df_23['시군구별'] = df_23['시군구별'].fillna(method='ffill')

# 전기차만 저장
df_23 = df_23[df_23['연료별'] == '전기']


df_23 = df_23.groupby(['시군구별'])['계'].sum().reset_index()
df_23['년'] = 2023

df_23.columns = ['시군구', '전기차(대)', '년'] 
df_23

     시군구  전기차(대)     년
0    강남구   14215  2023
1    강동구    2965  2023
2    강북구    1189  2023
3    강서구    3683  2023
4    관악구    1815  2023
5    광진구    1381  2023
6    구로구    5615  2023
7    금천구    1355  2023
8    노원구    2172  2023
9    도봉구    1472  2023
10  동대문구    1575  2023
11   동작구    1633  2023
12   마포구    2383  2023
13  서대문구    1627  2023
14   서초구    6054  2023
15   성동구    2707  2023
16   성북구    1995  2023
17   송파구    4453  2023
18   양천구    2324  2023
19  영등포구    2800  2023
20   용산구    1600  2023
21   은평구    2139  2023
22   종로구    1305  2023
23    중구    2445  2023
24   중랑구    2035  2023

In [19]:
# 전기차 데이터 (24년)

df_24 = pd.read_excel('서울시 자치구별 연료별 차종별 용도별 등록현황(24년11월).xls', skiprows = 7)
df_24

,시군구별,Unnamed: 1,Unnamed: 2,연료별,Unnamed: 4,Unnamed: 5,용도별,승 용,승 합,화 물,Unnamed: 10,Unnamed: 11,특 수,Unnamed: 13,Unnamed: 14,계
0,합 계,NaN,NaN,계,NaN,NaN,계,2774447,85922,305468,NaN,NaN,11590,NaN,NaN,3177427
1,종로구,NaN,NaN,CNG,NaN,NaN,비사업용,5,7,13,NaN,NaN,0,NaN,NaN,25
2,NaN,NaN,NaN,CNG,NaN,NaN,사업용,0,66,0,NaN,NaN,0,NaN,NaN,66
3,NaN,NaN,NaN,경유,NaN,NaN,비사업용,8999,2663,3336,NaN,NaN,142,NaN,NaN,15140
4,NaN,NaN,NaN,경유,NaN,NaN,사업용,0,149,1164,NaN,NaN,93,NaN,NaN,1406
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
553,NaN,NaN,NaN,휘발유,NaN,NaN,비사업용,27913,16,111,NaN,NaN,0,NaN,NaN,28040
554,NaN,NaN,NaN,휘발유,NaN,NaN,사업용,57,0,0,NaN,NaN,0,NaN,NaN,57
555,NaN,NaN,NaN,휘발유(무연),NaN,NaN,비사업용,51999,19,33,NaN,NaN,0,NaN,NaN,52051
556,NaN,NaN,NaN,휘발유(무연),NaN,NaN,사업용,342,0,0,NaN,NaN,0,NaN,NaN,342
557,NaN,NaN,NaN,휘발유(유연),NaN,NaN,비사업용,46,0,0,NaN,NaN,0,NaN,NaN,46

In [20]:
# 시군구명 바로 위 값으로 na 대체하기
df_24['시군구별'] = df_24['시군구별'].fillna(method='ffill')

# 전기차만 저장
df_24 = df_24[df_24['연료별'] == '전기']


df_24 = df_24.groupby(['시군구별'])['계'].sum().reset_index()
df_24['년'] = 2024

df_24.columns = ['시군구', '전기차(대)', '년'] 
df_24

     시군구  전기차(대)     년
0    강남구   14045  2024
1    강동구    3667  2024
2    강북구    1411  2024
3    강서구    4162  2024
4    관악구    2148  2024
5    광진구    1654  2024
6    구로구    5639  2024
7    금천구    1599  2024
8    노원구    2682  2024
9    도봉구    1874  2024
10  동대문구    1907  2024
11   동작구    1978  2024
12   마포구    2831  2024
13  서대문구    1952  2024
14   서초구    7324  2024
15   성동구    3288  2024
16   성북구    2426  2024
17   송파구    5420  2024
18   양천구    2792  2024
19  영등포구    3196  2024
20   용산구    1895  2024
21   은평구    2593  2024
22   종로구    1508  2024
23    중구    2406  2024
24   중랑구    2427  2024

In [21]:
# 전기차 데이터 ~ 24 병합
df = pd.concat([a,df_22, df_23, df_24], axis=0, ignore_index = True)

df.to_csv('서울시_전기차(15-24 12월기준).csv')
df

     시군구     년  전기차(대)
0    강남구  2015     155
1    강남구  2016     218
2    강남구  2017    2385
3    강남구  2018    4262
4    강남구  2019    5756
..   ...   ...     ...
245  용산구  2024    1895
246  은평구  2024    2593
247  종로구  2024    1508
248   중구  2024    2406
249  중랑구  2024    2427

[250 rows x 3 columns]

In [23]:
# 자치단체 재정자주도

df = pd.read_excel('자치단체 재정자주도_20241220151906.xlsx', skiprows = 28, 
                  nrows = 8 )
df

C:\Users\User\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

   Unnamed: 0  전국평균  특·광역시     도     시     군   자치구
0        2017  74.9   74.6  49.1  67.2  64.1  48.1
1        2018  75.3   73.4  50.2  66.4  65.2  47.5
2        2019  74.2   71.8  48.9  64.8  65.3  46.1
3        2020  73.9   69.8  50.6  63.8  64.9  45.5
4        2021  70.8   67.4  46.5  60.9  61.2  44.8
5        2022  73.4   70.0  50.7  62.5  64.2  45.2
6        2023  74.1   70.3  51.0  62.1  65.0  45.0
7        2024  70.9   66.4  47.0  59.9  62.4  43.0

In [24]:
# 컬럼명 정리
df = df[['Unnamed: 0', '군']]
df.columns = ['년', '재정자주도(군)']

df.to_csv('전국 군_재정자주도(17-24).csv')
df

      년  재정자주도(군)
0  2017      64.1
1  2018      65.2
2  2019      65.3
3  2020      64.9
4  2021      61.2
5  2022      64.2
6  2023      65.0
7  2024      62.4

In [26]:
# 충전기 데이터
df = pd.read_csv("한국환경공단_전기차 충전소 위치 및 운영정보(충전소 ID 포함)2017-2024.csv",
                 encoding = 'cp949')
df

C:\Users\User\AppData\Local\Temp\ipykernel_40620\1328751955.py:2: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("한국환경공단_전기차 충전소 위치 및 운영정보(충전소 ID 포함)2017-2024.csv",

,설치년도,시도,군구,주소,충전소명,시설구분(대),시설구분(소),기종(대),기종(소),운영기관(대),운영기관(소),급속충전량,충전기타입,이용자제한,위도경도
0,2017,서울특별시,강서구,서울특별시 강서구 가로공원로 189,가로공원로 지하공영주차장,주차시설,공영주차장,급속,급속(50kW),환경부,환경부(협회),급속(50kW),DC차데모+AC3상+DC콤보,이용가능,"37.5372628,126.8383789"
1,2017,서울특별시,강서구,서울특별시 강서구 강서로5길 50,곰달래문화복지센터 공영주차장,주차시설,공영주차장,급속,급속(50kW),환경부,환경부(협회),급속(50kW),DC차데모+AC3상+DC콤보,이용가능,"37.5289561,126.8490887"
2,2017,서울특별시,강서구,서울특별시 강서구 까치산로4길 22,볏골공원 지하공영주차장,주차시설,공영주차장,급속,급속(50kW),환경부,환경부(협회),급속(50kW),DC차데모+AC3상+DC콤보,이용가능,"37.5419747,126.8444499"
3,2017,서울특별시,강서구,서울특별시 강서구 우장산로 114,화곡6-1 공영주차장,주차시설,공영주차장,급속,급속(50kW),환경부,환경부(협회),급속(50kW),DC차데모+AC3상+DC콤보,이용가능,"37.5530457,126.8488169"
4,2017,서울특별시,관악구,서울특별시 관악구 관천로 98,신림동 제1공영주차장,주차시설,공영주차장,급속,급속(50kW),환경부,환경부(협회),급속(50kW),DC차데모+AC3상+DC콤보,이용가능,"37.4874046,126.9235075"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
361158,2015,광주광역시,남구,광주광역시 남구 화산로 30,진월국제테니스장,공공시설,지자체시설,급속,DC차데모+AC3상+DC콤보,지자체,지자체기타,NaN,DC차데모+AC3상+DC콤보,이용자제한,NaN
361159,2016,전라남도,영광군,전라남도 영광군 군서면 백수로 1481,농업기술센터,공공시설,지자체시설,완속,AC완속,지자체,지자체기타,NaN,AC완속,이용자제한,NaN
361160,2016,전라남도,영광군,전라남도 영광군 영광읍 월현로 170,스포티움 수영장,공공시설,지자체시설,완속,AC완속,지자체,지자체기타,NaN,AC완속,이용자제한,NaN
361161,2011,전라남도,강진군,전라남도 강진군 강진읍 탐진로 111,강진군청,공공시설,관공서,완속,AC완속,지자체,지자체기타,NaN,AC완속,이용자제한,NaN
361162,2012,전라남도,강진군,전라남도 강진군 강진읍 탐진로 111,강진군청,공공시설,관공서,완속,AC완속,지자체,지자체기타,NaN,AC완속,이용자제한,NaN

In [30]:
# 서울특별시 지역 한정
df = df[df['시도'] == '서울특별시']

# 피벗테이블: 완속, 급속 개수 구하기
pivot_df = df.pivot_table(index=['군구', '설치년도'], columns='기종(대)', aggfunc='size', fill_value=0)

pivot_df.to_csv('군구별완속급속충전기.csv')
pivot_df

기종(대)      급속   완속
군구  설치년도
강남구 2013    0    2
    2017   34   91
    2018   20  103
    2019   16   94
    2020   19  148
...       ...  ...
중랑구 2020    8   70
    2021   20  234
    2022   50  858
    2023  104  370
    2024    7  255

[233 rows x 2 columns]

# 최종 DF 만들기 / train data
### (자치구별 데이터 만들어서 병합)

In [3]:
# 각 데이터 불러오기

charger = pd.read_csv("군구별완속급속충전기.csv")
culture = pd.read_csv("서울시 구별 교통문화지수(2017~2023).csv")
e_car = pd.read_csv("서울시_전기차(15-24 12월기준).csv")
car = pd.read_csv("수정_서울시_자동차등록수(11월기준)(2017-2024).csv")
indep = pd.read_csv("전국 군_재정자주도(17-24).csv")
work = pd.read_csv("사업체 수 & 전기차 수 관계 수정본.csv", encoding = 'cp949')
house = pd.read_csv("서울시 구별 인구_가구_주택수.csv")
people = pd.read_excel('(공표용)서울특별시+자치구별+장래인구추계(2020~2040) (1).xlsx', sheet_name = '1. 자치구별 총인구', header = 2, nrows = 26)

In [4]:
# 데이터 가공(컬럼명 통일)

# 충전기 데이터 가공하기
charger = charger.rename(columns = {'군구' : '자치구', '설치년도' : '년도'})
#24년 데이터 제외
charger = charger[charger['년도'] != 2024]
#자치구별 타입별 누적개수 구하기
charger['급속'] = charger.groupby('자치구')['급속'].cumsum()
charger['완속'] = charger.groupby('자치구')['완속'].cumsum()

charger.to_csv('급속완속충전기_누적대수2024삭제.csv')

# 전기차 데이터 가공하기
e_car.drop(columns = ['Unnamed: 0'], inplace = True)
e_car = e_car.rename(columns = {'시군구' : '자치구', '년' : '년도'})

# 자동차등록수 데이터 가공하기
car.drop(columns = ['Unnamed: 0'], inplace = True)
car = car.rename(columns = {'시군구' : '자치구', '년' : '년도'})

# 재정자주도 데이터 가공하기
indep.drop(columns = ['Unnamed: 0'], inplace = True)
indep = indep.rename(columns = {'년' : '년도'})

# 사업체 데이터 가공하기
work = work.rename(columns = {'연도' : '년도'})

# 가구 데이터 가공하기
house = house.rename(columns = {'연도' : '년도'})

# 인구 데이터 가공하기
people.drop(columns = ['구분', '남여별', '자치구코드'], inplace = True)
people = people[['자치구', 2024]]
people = people.melt(id_vars = ['자치구'], var_name = '년도', value_name= '총인구 (명)')
people['자치구'] = people['자치구'].str.replace(' ', '')

In [5]:
#데이터 년도, 자치구를 key로 merge하기

df = pd.merge(e_car, car, on = ['년도', '자치구'], how = 'right')
df = pd.merge(df, charger, on = ['년도', '자치구'], how = 'left')
df = pd.merge(df, indep, on = ['년도'], how = 'left')
df = pd.merge(df, culture, on = ['년도', '자치구'], how = 'left')
df= pd.merge(df, work, on = ['년도', '자치구'], how = 'left')

df.drop(columns = ['전기차(대)_y'], inplace = True)
df = df.rename(columns = {'전기차(대)_x' : '전기차(대)'})

df = pd.merge(df, house, on = ['년도', '자치구'], how = 'left')


# 2024 데이터 장래값으로 대체하기
df.loc[df['년도'] == 2024, '총인구 (명)'] = np.nan
df[df['년도'] == 2024]['총인구 (명)']

df = df.merge(
    people[['년도', '자치구', '총인구 (명)']],
    on=['년도', '자치구'],
    how='left',
    suffixes=('', '_new')
)

# 총인구 값 대치
df['총인구 (명)'] = df['총인구 (명)_new'].combine_first(df['총인구 (명)'])

# 불필요한 열 제거
df = df.drop(columns=['총인구 (명)_new'])
df

,자치구,년도,전기차(대),자동차등록수(대),급속,완속,재정자주도(군),교통문화지수,부동산업_사업체수,전문 과학 및 기술 서비스업_사업체수,...,숙박 및 음식점업_종사자수,교육 서비스업_종사자수,금융 및 보험업_사업체수,수도 하수 및 폐기물 처리 원료 재생업_종사자수,건설업_종사자수,전기 가스 증기 및 공기조절 공급업_종사자수,총인구 (명),가구-계 (가구),공동주택/가구수,나머지주택/가구수
0,강남구,2017,2385,"239,036",34.0,93.0,64.1,84.84,5686,8798,...,56982,29001,1951,856,55618,1052,522514.0,210728.0,0.632830,0.189472
1,강동구,2017,81,"137,016",20.0,39.0,64.1,82.59,1531,602,...,15466,11239,278,511,17302,94,423978.0,163351.0,0.482483,0.257886
2,강북구,2017,27,"77,945",7.0,25.0,64.1,78.60,789,275,...,10569,5729,253,326,2057,80,313698.0,129204.0,0.296740,0.434863
3,강서구,2017,132,"201,590",21.0,71.0,64.1,92.46,1909,989,...,20057,13832,298,639,13334,426,581675.0,234926.0,0.494500,0.306501
4,관악구,2017,45,"122,287",14.0,22.0,64.1,83.39,1402,586,...,17322,15100,180,171,9125,15,511222.0,242972.0,0.247131,0.263915
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,용산구,2024,1895,"73,224",NaN,NaN,62.4,NaN,2063,1941,...,16474,7502,576,268,6066,29,215882.0,NaN,NaN,NaN
196,은평구,2024,2593,"134,044",NaN,NaN,62.4,NaN,2181,1377,...,11704,10754,238,272,6887,163,453471.0,NaN,NaN,NaN
197,종로구,2024,1508,"50,150",NaN,NaN,62.4,NaN,2596,2699,...,23007,13330,947,128,25523,484,141438.0,NaN,NaN,NaN
198,중구,2024,2406,"52,829",NaN,NaN,62.4,NaN,3046,3653,...,27591,9644,2920,395,7322,704,122700.0,NaN,NaN,NaN
199,중랑구,2024,2427,"116,203",NaN,NaN,62.4,NaN,1732,1081,...,10218,7650,206,234,10776,125,376454.0,NaN,NaN,NaN

In [6]:
print(df.info())

df.to_csv('final_data_수정.csv')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 200 entries, 0 to 199
Data columns (total 38 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   자치구                           200 non-null    object
 1   년도                            200 non-null    object
 2   전기차(대)                        200 non-null    int64
 3   자동차등록수(대)                     200 non-null    object
 4   급속                            175 non-null    float64
 5   완속                            175 non-null    float64
 6   재정자주도(군)                      200 non-null    float64
 7   교통문화지수                        175 non-null    float64
 8   부동산업_사업체수                     200 non-null    int64
 9   전문 과학 및 기술 서비스업_사업체수          200 non-null    int64
 10  부동산업_종사자수                     200 non-null    int64
 11  정보통신업_사업체수                    200 non-null    int64
 12  보건업 및 사회복지 서비스업_사업체수          200 non-null    int64
 13  합계_사업체수                       200 non-null    int64
 14  전문 과학 및 기술 서비스업_종사자수          200 non-null    int64
 15  보건업 및 사회복지 서비스업_종사자수          200 non-null    int64
 16  교육 서비스업_사업체수                  200 non-null    int64
 17  사업시설 관리 사업 지원 및 임대 서비스업_사업체수  200 non-null    int64
 18  정보통신업_종사자수                    200 non-null    int64
 19  예술 스포츠 및 여가관련 서비스업_사업체수       200 non-null    int64
 20  합계_종사자수                       200 non-null    int64
 21  협회 및 단체 수리 및 기타 개인서비스업_종사자수   200 non-null    int64
 22  전기 가스 증기 및 공기조절 공급업_사업체수      200 non-null    int64
 23  도매 및 소매업_종사자수                 200 non-null    int64
 24  협회 및 단체 수리 및 기타 개인서비스업_사업체수   200 non-null    int64
 25  숙박 및 음식점업_사업체수                200 non-null    int64
 26  사업시설 관리 사업 지원 및 임대 서비스업_종사자수  200 non-null    int64
 27  예술 스포츠 및 여가관련 서비스업_종사자수       200 non-null    int64
 28  숙박 및 음식점업_종사자수                200 non-null    int64
 29  교육 서비스업_종사자수                  200 non-null    int64
 30  금융 및 보험업_사업체수                 200 non-null    int64
 31  수도 하수 및 폐기물 처리 원료 재생업_종사자수    200 non-null    int64
 32  건설업_종사자수                      200 non-null    int64
 33  전기 가스 증기 및 공기조절 공급업_종사자수      200 non-null    int64
 34  총인구 (명)                       200 non-null    float64
 35  가구-계 (가구)                     175 non-null    float64
 36  공동주택/가구수                      175 non-null    float64
 37  나머지주택/가구수                     175 non-null    float64
dtypes: float64(8), int64(27), object(3)
memory usage: 60.9+ KB
None

# 시계열 예측 데이터 불러오기 / test data
### (2025년, 2026년 데이터 병합하기)

In [9]:
f_df = pd.read_csv("forecast_results2.csv")
f_charger = pd.read_csv('급속완속예측.csv', encoding = 'cp949')
f_house = pd.read_csv("가구 수 추계값 (2024-2031).csv")
people = pd.read_excel('(공표용)서울특별시+자치구별+장래인구추계(2020~2040) (1).xlsx',
                    sheet_name = '1. 자치구별 총인구', 
                      header = 2, nrows = 26)
home = pd.read_csv('가구수비율 예측.csv')

In [10]:
f_df.drop(columns = ['급속', '완속'], inplace = True)

f_charger = f_charger.pivot(index = ['자치구', '년도'], 
                        columns = '변수', values = '예측값')

f_charger = f_charger.reset_index()
f_charger['급속'] = round(f_charger['급속'])
f_charger['완속'] = round(f_charger['완속'])

f_charger = f_charger[f_charger['년도']!= 2024]

f_house = pd.read_csv("가구 수 추계값 (2024-2031).csv")
f_house.drop(columns = 'Unnamed: 0',  inplace = True)

people.drop(columns = ['구분', '남여별', '자치구코드'], inplace = True)
people = people[['자치구', 2025, 2026]]
people = people.melt(id_vars = ['자치구'], var_name = '년도', value_name= '총인구 (명)')
people['자치구'] = people['자치구'].str.replace(' ', '')

home = home.pivot(index = ['자치구', '년도'], columns = '변수', values = '예측값')
home = home.reset_index()

In [11]:
f_df = pd.merge(f_df, f_charger, on = ['자치구', '년도'], how = 'left')
f_df = pd.merge(f_df, f_house, on = ['자치구', '년도'], how = 'left')
f_df = pd.merge(f_df, people, on = ['자치구', '년도'], how = 'left')
f_df = pd.merge(f_df, home, on = ['자치구', '년도'], how = 'left')
f_df

,자치구,년도,건설업_종사자수,교육 서비스업_사업체수,교육 서비스업_종사자수,교통문화지수,금융 및 보험업_사업체수,도매 및 소매업_종사자수,보건업 및 사회복지 서비스업_사업체수,보건업 및 사회복지 서비스업_종사자수,...,합계_사업체수,합계_종사자수,협회 및 단체 수리 및 기타 개인서비스업_사업체수,협회 및 단체 수리 및 기타 개인서비스업_종사자수,급속,완속,가구-계 (가구),총인구 (명),공동주택/가구수,나머지주택/가구수
0,강남구,2025,52954.000000,5378.000000,33342.000000,78.327143,4184.000000,151552.000000,3516.000000,48952.285714,...,108906.0,802164.000000,5970.0,22154.000000,453.0,6200.0,215485.0,507421,0.629118,0.193087
1,강남구,2026,52954.000000,5378.000000,33342.000000,78.327143,4184.000000,151552.000000,3516.000000,50164.571429,...,108906.0,802164.000000,5970.0,22154.000000,490.0,7272.0,216450.0,507638,0.629118,0.193087
2,강동구,2025,22610.000000,2175.000000,11812.000000,79.161429,374.000000,28556.000000,1488.857143,25434.142857,...,42408.0,161149.000000,3387.0,5996.857143,189.0,2185.0,186315.0,439125,0.500078,0.264301
3,강동구,2026,22610.000000,2262.000000,11812.000000,79.161429,374.000000,28556.000000,1520.714286,26446.285714,...,42408.0,161149.000000,3387.0,5887.714286,209.0,2427.0,187149.0,436842,0.500078,0.264301
4,강북구,2025,4044.000000,889.000000,6274.000000,78.097143,346.000000,12534.000000,871.000000,11574.000000,...,26250.0,80040.000000,2523.0,4155.000000,309.0,940.0,130246.0,278538,0.300914,0.438899
5,강북구,2026,4044.000000,889.000000,6274.000000,78.097143,346.000000,12534.000000,871.000000,11574.000000,...,26250.0,80040.000000,2523.0,4109.000000,397.0,1044.0,130829.0,276497,0.300914,0.438899
6,강서구,2025,21032.285714,2633.857143,15201.142857,81.492857,599.714286,47191.857143,1786.571429,26832.285714,...,59233.0,303541.428571,4468.0,10088.000000,506.0,4228.0,250633.0,553983,0.483558,0.308457
7,강서구,2026,21994.571429,2739.714286,15372.285714,81.492857,637.428571,48757.714286,1817.142857,27948.571429,...,59233.0,312184.857143,4468.0,10088.000000,604.0,4830.0,251755.0,554012,0.483558,0.308457
8,관악구,2025,10608.000000,1582.000000,17960.571429,78.078571,232.000000,17132.000000,1286.285714,16520.000000,...,37364.0,127406.000000,3392.0,6040.000000,238.0,1115.0,266727.0,480294,0.238148,0.253715
9,관악구,2026,10608.000000,1582.000000,18318.142857,78.078571,232.000000,17132.000000,1300.571429,17156.000000,...,37364.0,127406.000000,3392.0,6040.000000,242.0,1133.0,267921.0,475844,0.238148,0.253715
10,광진구,2025,13555.000000,1464.000000,14038.000000,81.121429,270.000000,21332.000000,990.000000,13145.428571,...,33516.0,129812.000000,2813.0,5128.000000,140.0,1617.0,163583.0,336236,0.225962,0.330684
11,광진구,2026,13555.000000,1464.000000,14038.000000,81.121429,270.000000,21332.000000,990.000000,13452.857143,...,33516.0,129812.000000,2813.0,5128.000000,155.0,1909.0,164315.0,333087,0.225962,0.330684
12,구로구,2025,16208.000000,1682.857143,11842.000000,80.691429,672.000000,43810.000000,1288.571429,19684.428571,...,52890.0,245692.000000,2970.0,6582.000000,182.0,2529.0,184075.0,407557,0.492381,0.230040
13,구로구,2026,16208.000000,1742.714286,11842.000000,80.691429,672.000000,43810.000000,1309.142857,20408.857143,...,52890.0,249720.000000,2970.0,6582.000000,202.0,2802.0,184899.0,404541,0.492381,0.230040
14,금천구,2025,16696.000000,964.142857,7102.285714,77.211429,415.571429,42242.000000,778.857143,9411.857143,...,48201.0,255882.000000,2260.0,5294.000000,250.0,1691.0,119378.0,244822,0.311152,0.284572
15,금천구,2026,16696.000000,1000.285714,7308.571429,77.211429,439.142857,42242.000000,789.714286,9684.714286,...,48201.0,255882.000000,2260.0,5294.000000,275.0,1808.0,119912.0,242469,0.311152,0.284572
16,노원구,2025,5310.000000,2576.000000,20790.000000,79.525714,312.000000,19194.000000,1523.000000,22596.000000,...,37964.0,131298.000000,3101.0,5653.000000,340.0,2954.0,201116.0,476853,0.815474,0.107964
17,노원구,2026,5310.000000,2576.000000,20790.000000,79.525714,312.000000,19194.000000,1523.000000,23120.000000,...,37964.0,131298.000000,3101.0,5653.000000,401.0,3293.0,202016.0,472208,0.815474,0.107964
18,도봉구,2025,4334.000000,1138.000000,7103.000000,82.424286,180.000000,12281.000000,866.000000,13006.066162,...,25292.0,78358.000000,2258.0,4153.000000,264.0,1178.0,126305.0,294251,0.538607,0.295085
19,도봉구,2026,4334.000000,1138.000000,7103.000000,82.424286,180.000000,12281.000000,866.000000,13006.066162,...,25292.0,78358.000000,2258.0,4153.000000,307.0,1167.0,126870.0,292191,0.538607,0.295085
20,동대문구,2025,7410.000000,1351.857143,16380.000000,74.851429,358.000000,32698.000000,1104.285714,18320.428571,...,42652.0,146131.000000,2786.0,4931.000000,100.0,1749.0,165706.0,334658,0.423717,0.223173
21,동대문구,2026,7410.000000,1397.714286,16380.000000,74.851429,358.000000,32698.000000,1116.571429,18773.857143,...,42652.0,146131.000000,2786.0,4931.000000,111.0,1940.0,166447.0,330957,0.423717,0.223173
22,동작구,2025,5924.000000,1687.000000,14024.000000,75.027143,230.000000,15261.000000,1128.857143,16674.571429,...,27518.0,108175.000000,2427.0,4996.000000,123.0,2030.0,175653.0,379446,0.389946,0.279277
23,동작구,2026,5924.000000,1746.000000,14024.000000,75.027143,230.000000,15261.000000,1143.714286,17181.142857,...,27518.0,108175.000000,2427.0,4996.000000,144.0,2280.0,176440.0,377469,0.389946,0.279277
24,마포구,2025,18761.000000,2570.142857,16590.000000,76.794286,820.000000,40360.000000,1366.000000,13319.000000,...,56149.0,277233.000000,3638.0,9962.000000,166.0,3103.0,167855.0,353509,0.447472,0.294633
25,마포구,2026,18761.000000,2690.285714,16590.000000,76.794286,820.000000,40360.000000,1389.000000,13319.000000,...,56149.0,277233.000000,3638.0,9962.000000,182.0,3123.0,168607.0,351255,0.447472,0.294633
26,서대문구,2025,6433.000000,1457.428571,20000.000000,75.540000,272.000000,15508.000000,873.000000,15962.000000,...,28474.0,118932.000000,2306.0,5027.000000,168.0,1467.0,141197.0,302149,0.425337,0.300452
27,서대문구,2026,6433.000000,1504.857143,20000.000000,75.540000,272.000000,15508.000000,873.000000,15962.000000,...,28474.0,118932.000000,2306.0,5027.000000,187.0,1623.0,141829.0,299679,0.425337,0.300452
28,서초구,2025,68653.000000,3364.000000,26641.714286,76.941391,1680.000000,70584.000000,1946.000000,26283.000000,...,70966.0,490172.000000,3796.0,12881.841132,358.0,3639.0,154606.0,382993,0.633147,0.214589
29,서초구,2026,68653.000000,3364.000000,27311.428571,79.943817,1680.000000,70584.000000,1946.000000,27100.000000,...,70966.0,490172.000000,3796.0,12726.274937,395.0,3997.0,155298.0,382957,0.628625,0.214589
30,성동구,2025,8400.000000,1344.285714,10916.000000,79.875714,456.000000,42358.285714,829.000000,10042.000000,...,41486.0,209881.714286,2344.0,7426.000000,237.0,4391.0,123960.0,271865,0.538632,0.167964
31,성동구,2026,8400.000000,1401.571429,10916.000000,79.875714,456.000000,43601.571429,829.000000,10042.000000,...,41486.0,215203.428571,2344.0,7426.000000,278.0,5127.0,124515.0,270456,0.538632,0.167964
32,성북구,2025,5902.000000,1838.000000,21504.000000,80.280000,216.000000,18546.000000,1140.000000,17811.857143,...,34937.0,127133.857143,2943.0,5557.000000,195.0,2973.0,185203.0,420115,0.457664,0.286490
33,성북구,2026,5902.000000,1838.000000,21504.000000,80.280000,216.000000,18546.000000,1140.000000,18471.714286,...,34937.0,129401.714286,2943.0,5557.000000,215.0,3331.0,186032.0,414911,0.457664,0.286490
34,송파구,2025,62358.000000,3200.000000,19268.000000,81.958571,1005.000000,81330.000000,2125.000000,30793.779093,...,74634.0,405043.000000,4852.0,10636.000000,482.0,6894.0,261185.0,639612,0.512360,0.303980
35,송파구,2026,62358.000000,3200.000000,19268.000000,81.958571,1005.000000,81330.000000,2168.000000,30706.222907,...,74634.0,405043.000000,4852.0,10636.000000,560.0,8408.0,262353.0,637259,0.512360,0.303980
36,양천구,2025,11295.000000,3011.714286,15718.000000,81.092857,264.000000,20618.000000,1317.000000,17399.962571,...,37852.0,135775.000000,3094.0,6184.000000,310.0,1964.0,166122.0,418736,0.558803,0.291526
37,양천구,2026,11295.000000,3092.428571,15718.000000,81.092857,264.000000,20618.000000,1330.000000,17362.280114,...,37852.0,137754.000000,3094.0,6184.000000,363.0,2228.0,166866.0,416622,0.558803,0.291526
38,영등포구,2025,32955.000000,1712.000000,9432.000000,77.227284,6301.000000,58109.000000,1348.000000,20330.000000,...,75016.0,434127.000000,3546.0,11892.000000,378.0,3705.0,184513.0,386595,0.427840,0.173652
39,영등포구,2026,32955.000000,1712.000000,9432.000000,80.375758,6301.000000,58109.000000,1348.000000,20330.000000,...,75016.0,434127.000000,3546.0,11892.000000,415.0,4153.0,185339.0,381974,0.427840,0.173652
40,용산구,2025,6066.000000,828.000000,7748.574189,75.281429,576.000000,36182.000000,630.000000,8426.428571,...,28864.0,152228.000000,1858.0,5506.000000,180.0,2450.0,100588.0,213783,0.411484,0.324573
41,용산구,2026,6066.000000,828.000000,7609.474833,75.281429,576.000000,36182.000000,630.000000,8683.857143,...,28864.0,152228.000000,1858.0,5506.000000,200.0,2735.0,101039.0,211938,0.411484,0.324573
42,은평구,2025,6887.000000,1942.000000,10754.000000,80.067143,238.000000,18468.000000,1355.142857,20094.428571,...,36470.0,108364.000000,3308.0,5558.000000,339.0,2543.0,194175.0,452213,0.349132,0.450283
43,은평구,2026,6887.000000,2006.000000,10754.000000,80.067143,238.000000,18468.000000,1378.285714,20948.857143,...,36470.0,108364.000000,3308.0,5558.000000,376.0,2622.0,195044.0,451046,0.349132,0.450283
44,종로구,2025,25523.000000,1074.000000,13330.000000,81.476928,947.000000,44068.000000,850.857143,20266.000000,...,47978.0,276733.000000,2598.0,7860.889643,175.0,1270.0,68027.0,139370,0.305411,0.374021
45,종로구,2026,25523.000000,1074.000000,13330.000000,81.476928,947.000000,44068.000000,865.714286,20266.000000,...,47978.0,276733.000000,2598.0,7678.113303,194.0,1376.0,68332.0,137681,0.305411,0.374021
46,중구,2025,7322.000000,648.000000,9644.000000,74.455714,2920.000000,80158.000000,827.714286,11838.142857,...,69226.0,386356.000000,2145.0,7655.285714,318.0,1977.0,62319.0,121120,0.463122,0.212807
47,중구,2026,7322.000000,648.000000,9644.000000,74.455714,2920.000000,80158.000000,839.428571,12138.285714,...,69226.0,386356.000000,2145.0,7550.571429,371.0,2246.0,62598.0,119686,0.463122,0.225913
48,중랑구,2025,10776.000000,1213.428571,7650.000000,77.842857,206.000000,18612.000000,1143.857143,15718.571429,...,39815.0,115535.142857,3116.0,4926.000000,501.0,2106.0,169410.0,374744,0.355451,0.311401
49,중랑구,2026,10776.000000,1249.857143,7650.000000,77.842857,206.000000,18612.000000,1163.714286,16235.142857,...,39815.0,117132.285714,3116.0,4926.000000,659.0,2316.0,170169.0,372895,0.355451,0.311401

In [12]:
f_df.info()
df.to_csv('test.csv')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 50 entries, 0 to 49
Data columns (total 37 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   자치구                           50 non-null     object
 1   년도                            50 non-null     object
 2   건설업_종사자수                      50 non-null     float64
 3   교육 서비스업_사업체수                  50 non-null     float64
 4   교육 서비스업_종사자수                  50 non-null     float64
 5   교통문화지수                        50 non-null     float64
 6   금융 및 보험업_사업체수                 50 non-null     float64
 7   도매 및 소매업_종사자수                 50 non-null     float64
 8   보건업 및 사회복지 서비스업_사업체수          50 non-null     float64
 9   보건업 및 사회복지 서비스업_종사자수          50 non-null     float64
 10  부동산업_사업체수                     50 non-null     float64
 11  부동산업_종사자수                     50 non-null     float64
 12  사업시설 관리 사업 지원 및 임대 서비스업_사업체수  50 non-null     float64
 13  사업시설 관리 사업 지원 및 임대 서비스업_종사자수  50 non-null     float64
 14  수도 하수 및 폐기물 처리 원료 재생업_종사자수    50 non-null     float64
 15  숙박 및 음식점업_사업체수                50 non-null     float64
 16  숙박 및 음식점업_종사자수                50 non-null     float64
 17  예술 스포츠 및 여가관련 서비스업_사업체수       50 non-null     float64
 18  예술 스포츠 및 여가관련 서비스업_종사자수       50 non-null     float64
 19  자동차등록수(대)                     50 non-null     float64
 20  재정자주도(군)                      50 non-null     float64
 21  전기 가스 증기 및 공기조절 공급업_사업체수      50 non-null     float64
 22  전기 가스 증기 및 공기조절 공급업_종사자수      50 non-null     float64
 23  전문 과학 및 기술 서비스업_사업체수          50 non-null     float64
 24  전문 과학 및 기술 서비스업_종사자수          50 non-null     float64
 25  정보통신업_사업체수                    50 non-null     float64
 26  정보통신업_종사자수                    50 non-null     float64
 27  합계_사업체수                       50 non-null     float64
 28  합계_종사자수                       50 non-null     float64
 29  협회 및 단체 수리 및 기타 개인서비스업_사업체수   50 non-null     float64
 30  협회 및 단체 수리 및 기타 개인서비스업_종사자수   50 non-null     float64
 31  급속                            50 non-null     float64
 32  완속                            50 non-null     float64
 33  가구-계 (가구)                     50 non-null     float64
 34  총인구 (명)                       50 non-null     int64
 35  공동주택/가구수                      50 non-null     float64
 36  나머지주택/가구수                     50 non-null     float64
dtypes: float64(34), int64(1), object(2)
memory usage: 14.8+ KB